h1{
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}